<%
  position_class = message.creator_type == "Persona" ? "chat-end" : "chat-start"
%>

<div id="<%= dom_id(message) %>" class="chat <%= position_class %>"
  data-controller="message"
  data-message-status-value="<%= message.status %>"
  <% if message.content %>
    data-message-content-value="<%= message.content %>"
  <% end %>
  >
  <div class="chat-image">
    <%= render "shared/avatar", avatar: message.creator.avatar, name: message.creator.name %>
  </div>
  <div class="chat-bubble" data-message-target="content">
    <% if message.pending? and message.content.nil? %>
      <span class="loading loading-dots loading-sm"></span>
    <% end %>
  </div>
</div>
