<%
  position_class = message.role == "Character" ? "chat-start" : "chat-end"
%>

<div id="<%= dom_id(message) %>" class="chat <%= message.user? ? "chat-end" : "chat-start" %>"
  data-controller="message"
  data-message-status-value="<%= message.status %>"
  data-message-content-value="<%= message.content %>"
  >
  <% if message.character %>
    <div class="chat-image">
      <%= render "shared/avatar", character: message.character %>
    </div>
    <div class="chat-header">
      <%= message.character.name %>
    </div>
  <% end %>
  <div class="chat-bubble" data-message-target="content">
    <% if message.pending? and message.content.blank? %>
      <span class="loading loading-dots loading-sm"></span>
    <% end %>
  </div>
</div>
