<%
  position_class = message.creator_type == "Character" ? "chat-start" : "chat-end"
%>

<div id="<%= dom_id(message) %>" class="chat <%= position_class %>"
  data-controller="message"
  data-message-status-value="<%= message.status %>"
  data-message-content-value="<%= message.content %>"
  >
  <div class="chat-image">
    <%= render "shared/avatar", avatar: message.creator.avatar, name: message.creator.name %>
  </div>
  <div class="chat-header">
    <%= message.creator.name %>
  </div>
  <div class="chat-bubble" data-message-target="content">
    <% if message.pending? and message.content.blank? %>
      <span class="loading loading-dots loading-sm"></span>
    <% end %>
  </div>
</div>
