<div class="navbar shadow-xs sticky top-0 z-50 bg-base-100">
  <div class="flex-none">
    <a href="<%= room_members_path(@room) %>" class="btn btn-ghost btn-square">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    </a>
  </div>
  <div class="flex-1">
    <div class="text-xl px-2">
      <%= t "general.add_member" %>
    </div>
  </div>
</div>

<div class="max-w-3xl mx-auto p-4">
  <%= form_with url: room_members_path do |form| %>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">
        <%= t "general.character" %>
      </legend>
      <div
        data-controller="character-select"
        data-character-select-options-value="<%= @room.user.characters.where.not(id: @room.character_ids).map { |character| { id: character.id, name: character.name, avatar_url: url_for(character.avatar.variant(:thumb)) } }.to_json %>"
      >
        <select name="character_ids[]" data-character-select-target="input" multiple></select>
      </div>
    </fieldset>

    <div class="mt-4">
      <button type="submit" class="btn btn-primary">
        <%= t "general.add_member" %>
      </button>
    </div>
  <% end %>
</div>
