<p style="color: green"><%= notice %></p>

<div class="breadcrumbs">
  <ul>
    <li>
      <a href="<%= conversations_path %>">
        Conversations
      </a>
    </li>
    <li>
      <%= @conversation.name.presence || "Untitled" %>
    </li>
  </ul>
</div>

<div class="avatar-group -space-x-5">
  <%= render "shared/avatar", avatar: @conversation.persona.avatar, name: @conversation.persona.name %>
  <%= render "shared/avatar", avatar: @conversation.character.avatar, name: @conversation.character.name %>
</div>

<div id="messages" class="min-h-screen mt-4">
  <%= render partial: "conversations/messages/message", collection: @conversation.messages %>
</div>

<%= turbo_stream_from @conversation %>

<div class="sticky bottom-0">
  <div class="max-w-screen-lg mx-auto pb-4">
    <div class="card bg-base-300 p-4">
      <%= render "conversations/messages/form", message: @conversation.messages.new %>
    </div>
  </div>
</div>
