<% @page_title = "Sign up" %>

<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content">
    <div class="w-96">
      <div class="text-center">
        <h1 class="text-3xl font-medium">
          Sign up
        </h1>
      </div>

      <div class="card bg-base-100 shadow mt-4">
        <div class="card-body">
          <%= form_with model: @user, url: registration_path do |form| %>
            <fieldset class="fieldset">
              <legend class="fieldset-legend">
                Email
              </legend>
              <%= form.email_field :email, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", class: "input w-full" %>
              <% if form.object.errors.include?(:email) %>
                <div class="text-error text-sm">
                  <%= form.object.errors[:email].first %>
                </div>
              <% end %>
            </fieldset>

            <fieldset class="fieldset">
              <legend class="fieldset-legend">
                Password
              </legend>
              <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input w-full" %>
            </fieldset>

            <fieldset class="fieldset">
              <legend class="fieldset-legend">
                Password confirmation
              </legend>
              <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Repeat your password", maxlength: 72, class: "input w-full" %>
            </fieldset>

            <button type="submit" class="btn btn-primary w-full mt-4">
              Sign up
            </button>
          <% end %>

        </div>
      </div>

      <div class="text-center mt-4">
        <a href="<%= new_session_path %>" class=" opacity-80">
          Sign in account
        </a>
      </div>
    </div>
  </div>
</div>
