<%= form_with(model: character) do |form| %>
  <% if character.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Avatar
    </legend>

    <%= render "shared/avatar", character: character, size: :large %>

    <%= form.file_field :avatar, class: "file-input" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Name
    </legend>
    <%= form.text_field :name, class: "input" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Description
    </legend>
    <%= form.text_area :description, class: "textarea" %>
  </fieldset>

  <div class="mt-4">
    <button type="submit" class="btn btn-primary">
      <%= character.new_record? ? "Create" : "Update" %> Character
    </button>
  </div>
<% end %>
