<%= form_with(model: character) do |form| %>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      <%= t "general.avatar" %>
    </legend>

    <%= render "shared/avatar", character: character, size: :large %>

    <%= form.file_field :avatar, class: "file-input", direct_upload: true %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      <%= t "general.name" %>
    </legend>
    <%= form.text_field :name, class: "input", required: true %>
    <% if form.object.errors.include?(:name) %>
      <div class="text-error text-sm">
        <%= form.object.errors[:name].first %>
      </div>
    <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      <%= t "general.prompt" %>
    </legend>
    <%= form.text_area :prompt, class: "textarea" %>
    <% if form.object.errors.include?(:prompt) %>
      <div class="text-error text-sm">
        <%= form.object.errors[:prompt].first %>
      </div>
    <% end %>
  </fieldset>

  <div class="mt-4">
    <button type="submit" class="btn btn-primary">
      <%= character.new_record? ? t("general.create_character") : t("general.update_character") %>
    </button>
  </div>
<% end %>
