<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Name
    </legend>

    <%= form.text_field :name, class: "input", required: true %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Description
    </legend>

    <%= form.text_area :description, class: "textarea", rows: 3 %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Persona
    </legend>
    <%= form.collection_select :persona_id, Current.user.personas.all, :id, :name, {}, class: "select" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Characters
    </legend>

    <% Current.user.characters.each do |character| %>
      <label class="label">
        <%= form.check_box :character_ids, { multiple: true, class: "checkbox" }, character.id, nil %>
        <%= character.name %>
      </label>
    <% end %>
  </fieldset>

  <div class="mt-4">
    <button type="submit" class="btn btn-primary">
      <%= room.new_record? ? "Create Room" : "Update Room" %>
    </button>
  </div>
<% end %>
