<%= form_with(model: room) do |form| %>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      <%= t "general.name" %>
    </legend>

    <%= form.text_field :name, class: "input", required: true %>

    <% if form.object.errors.include?(:name) %>
      <div class="text-error text-sm">
        <%= form.object.errors[:name].first %>
      </div>
    <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      <%= t "general.prompt" %>
    </legend>

    <%= form.text_area :prompt, class: "textarea", rows: 3 %>

    <% if form.object.errors.include?(:prompt) %>
      <div class="text-error text-sm">
        <%= form.object.errors[:prompt].first %>
      </div>
    <% end %>
  </fieldset>

  <div class="mt-4">
    <button type="submit" class="btn btn-primary">
      <%= room.new_record? ? t("general.create_room") : t("general.update_room") %>
    </button>
  </div>
<% end %>
