<div class="breadcrumbs">
  <ul>
    <li>
      <a href="<%= rooms_path %>">
        Rooms
      </a>
    </li>
    <li>
      <%= @room.name %>
    </li>
  </ul>
</div>

<div class="flex gap-4 items-center">
  <%= render "shared/avatar", avatar: @room.persona.avatar, name: @room.persona.name %>

  <div class="avatar-group -space-x-5">
    <% @room.characters.each do |character| %>
      <%= render "shared/avatar", avatar: character.avatar, name: character.name %>
    <% end %>
  </div>
</div>

<div class="mt-4 text-lg font-medium">
  Conversations
</div>

<%= form_with url: room_conversations_path(@room), method: :post do |form| %>
  <button type="submit" class="btn btn-soft">
    New Conversation
  </button>
<% end %>

<ul class="list">
  <% @room.conversations.order(id: :desc).each do |conversation| %>
    <li class="list-row">
      <div class="list-col-grow">
        <a href="<%= room_conversation_path(@room, conversation) %>" class="block">
          <%= conversation.title.presence || "Untitled" %>
        </a>
      </div>
    </li>
  <% end %>
</ul>
